{% extends "gna/tabulate/layout.html" %}
{% load gna_tags %}
{% block content %}
<div id="content-main">  

    <div class="module content-main">
        <form action="{% url 'tabulate/daily_channel_date/page' '00' url_args.page %}" method="post"> 
            {% csrf_token %}
            <p>
                平台选择：       
                <select name="select_channel">
                    {% for choice in choices %}
                        <option value={{ choice.id }} {% if choice.selected %}selected{% endif %}>{{ choice.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="channel_submit" value="查找" />
            </p>
        </form>
    </div>

    <div class="content-main">
        {% include 'gna/partial/paginator.html' %}
    </div>

    {% for db in result %}
    <div class="module content-main">
        <table>
            <caption>{{ db.title }}</caption>
            <tr>
            {% for ele in db.head %}
                <th {% if ele.width %}width="{{ ele.width }}"{% endif %}>{{ ele.value }}</th>    
            {% endfor %}
            </tr>
            {% for row in db.body %}
            <tr>
                {% for ele in row %}
                <td>
                    <font {% if ele.is_red %}color="#FF000"{% endif %}>{% if ele.value %}{{ ele.value }}{% endif %}</font>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>   
    {% endfor %} 

    <div class="content-main">
        {% include 'gna/partial/paginator.html' %}
    </div> 

</div>
{% endblock %}








