{% extends "gna/tabulate/layout.html" %}
{% load gna_tags %}
{% block content %}
<div id="content-main"> 

    <div class="module content-main">
        <table>
            <caption>{{ result.title }}</caption>
            <tr>
            {% for ele in result.head %}
                <th>{{ ele }}</th>    
            {% endfor %}
            </tr>
            {% for row in result.body %}
            <tr>
                {% for ele in row %}
                <td>
                    <font {% if ele.is_red %}color="#FF000"{% endif %}>{% if ele.value %}{{ ele.value }}{% endif %}</font>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>   
    
</div>

{% endblock %}








